src/main/webapp/WEB-INF/resources/xml/data-source.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="datasources">
    <xs:complexType>
      <xs:all>
        <xs:element name="datasource">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="datasource-name"/>
              <xs:element type="xs:byte" name="datasource-type"/>
              <xs:element type="xs:string" name="connection-url"/>
              <xs:element type="xs:string" name="user-name"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element type="xs:byte" name="minimum-pool-size"/>
              <xs:element type="xs:byte" name="maximum-pool-size"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>


