src/main/webapp/WEB-INF/resources/xml/packet-statistics-agent.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packet-statistics-agent">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:string" name="storage-location"/>
        <xs:element type="xs:int" name="execution-interval"/>
        <xs:element name="service-list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="service" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:all>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="enable"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
