src/main/webapp/WEB-INF/resources/xml/snmp-alert-listeners.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="snmp-listeners">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="listener" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="ipAddress"/>
              <xs:element type="xs:int" name="port"/>
              <xs:element type="xs:string" name="version"/>
              <xs:element type="xs:string" name="advance"/>
              <xs:element type="xs:string" name="community"/>
              <xs:element name="alerts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="id" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>